h1, h2{
    color: red;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

body{
    background: lime;    
}
.dui, .apellidos, .nombres{
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: magenta;
}
.boton{
    width: 25%;
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: magenta;
}

.icon1{
    font-size: 50px;
    color: yellow;
    height: 40px;
    width: 90px;
    margin: 0px;
    text-align: center;
}

.icon2{
    font-size: 50px;    
    color: magenta;
    height: 40px;
    width: 90px;
    margin: 0px;
    text-align: center;
}

.icon3{
    font-size: 50px;
    color: yellow;
    height: 40px;
    width: 90px;
    margin: 0px;
    text-align: center;
}